version: '3.8'

services:
  app:

    container_name: frontend-${ENV_NAME:-local}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "${PORT:-3000}:3000"
    environment:
      - NODE_ENV=production

    restart: always